<%= form_for([@proposal, @proposal.histories.build]) do |f| %>
  <p>
    Was the customer contacted about this? <br>
    <%= f.label :contacted, "Yes", :value => "true"  %>
    <%= f.radio_button :contacted, true %>
    <%= f.label :contacted, "No", :value => "false" %>
    <%= f.radio_button :contacted, false, :checked => true %>
    <!-- <input id="contacted" name="contacted" type="checkbox" value="1" />
    <label for="contacted">I talked to the customer about this</label> -->
    <%#= check_box_tag(:contacted) %>
    <%#= label_tag(:contacted, "I talked to the customer about this") %>
  </p>

  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>