<%= form_for([@proposal, @proposal.histories.build]) do |f| %>
  <p>
    <%= f.label :contacted %><br>
    <%= f.text_field :contacted %>
  </p>
  <p>
    <%= f.label :note %><br>
    <%= f.text_area :note %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>