
<p>
  <strong>Name:</strong>
  <%= @proposal.name %>
</p>
 
<p>
  <strong>Email:</strong>
  <%= @proposal.email %>
</p>

<p>
  <strong>Company:</strong>
  <%= @proposal.company %>
</p>

<p>
  <strong>Website Url:</strong>
  <%= @proposal.website_url %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @proposal.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @proposal.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @proposal.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @proposal.state %>
</p>

<p>
  <strong>Zip Code:</strong>
  <%= @proposal.zip %>
</p>
<p>
  <strong>Website Goals:</strong>
  <%= @proposal.website_goals %>
</p>

<h2>Add a History:</h2>
<%= render 'histories/form' %>

<h2>History</h2>
<%= render @proposal.histories %>

<%= link_to 'Edit', edit_proposal_path(@proposal) %> |
<%= link_to 'Back', proposals_path %>